aiodns==3.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.8.3
aioquic==1.2.0
aiosignal==1.2.0
alembic==1.16.4
androguard==4.1.3
annotated-types==0.7.0
ansible==10.4.0
ansible-core==2.17.7
ansible-runner==2.4.0
anthropic==0.46.0
antlr4-python3-runtime==4.9.3
anyio==4.10.0
apkInspector==1.3.5
argcomplete==3.6.2
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==3.0.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==19.3.0
Automat==25.4.16
azure-common==1.1.28
azure-core==1.31.0
azure-identity==1.18.0
azure-mgmt-compute==33.0.0
azure-mgmt-core==1.4.0
azure-mgmt-network==27.0.0
azure-mgmt-resource==23.1.1
backoff==2.2.1
banal==1.0.6
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
blosc2==3.7.2
boto3==1.35.28
botocore==1.35.28
Brotli==1.1.0
cachetools==5.5.2
certifi==2021.5.30
cffi==1.17.1
cfgv==3.4.0
chardet==3.0.4
charset-normalizer==2.0.4
clairvoyance==2.5.2
click==8.2.1
cmd2==2.7.0
colorama==0.4.5
colorclass==2.2.2
constantly==23.10.4
contourpy==1.3.2
cryptography==44.0.1
cv==1.0.0
cycler==0.12.1
dataset==1.6.2
decorator==5.2.1
deprecation==2.1.0
distlib==0.4.0
distro==1.9.0
dnspython==1.15.0
dnspython3==1.15.0
DNSValidator==0.1
docutils==0.21.2
drozer==3.1.0
dulwich==0.23.2
EditorConfig==0.17.1
einops==0.8.1
elementpath==5.0.4
enum-tools==0.12.0
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
filelock==3.18.0
filetype==1.2.0
fints==4.2.4
Flask==3.1.0
fonttools==4.59.0
frida==17.2.14
frida-tools==14.4.5
frozenlist==1.3.1
fsspec==2025.7.0
ftfy==6.3.1
future==1.0.0
fuzzywuzzy==0.18.0
git-dumper==1.0.8
gitdb==4.0.11
GitPython==3.1.43
gnureadline @ git+https://github.com/ludwigschwardt/python-gnureadline.git@8474e5583d4473f96b42745393c3492e2cb49224
google-api-core==2.25.0
google-auth==2.28.2
google-cloud-bigtable==2.20.0
google-cloud-compute==1.17.0
google-cloud-core==2.4.3
google-cloud-secret-manager==2.18.0
google-cloud-storage==2.15.0
google-crc32c==1.7.1
google-genai==1.29.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gql==3.4.0
graphql-core==3.2.3
grpc-google-iam-v1==0.14.2
grpcio==1.72.1
grpcio-status==1.62.3
h11==0.16.0
h2==4.1.0
hf-xet==1.1.7
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.34.3
hydra-core==1.3.2
hyperframe==6.0.1
hyperlink==21.0.0
identify==2.6.12
idna==3.2
incremental==24.7.2
iniconfig==1.0.1
ipaddress==1.0.23
ipython==8.37.0
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
jsbeautifier==1.15.4
kafka-python==2.2.15
kaitaistruct==0.10
kiwisolver==1.4.8
lazy_loader==0.4
ldap3==2.9.1
Levenshtein==0.27.1
lockfile==0.12.2
loguru==0.7.3
lxml==6.0.0
Mako==1.3.10
markdown-it-py==3.0.0
markdown2==2.5.4
markdownify==1.1.0
marker-pdf==1.8.3
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mitmproxy==11.0.2
mitmproxy-macos==0.10.7
mitmproxy_rs==0.10.7
mne==1.10.1
more-itertools==8.5.0
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msgpack==1.1.0
mt-940==4.30.0
multidict==6.0.2
mutf8==1.0.6
ndindex==1.10.0
netaddr==1.3.0
netifaces==0.11.0
networkx==3.4.2
nodeenv==1.9.1
ntplib==0.4.0
numexpr==2.11.0
numpy==2.2.6
omegaconf==2.3.0
openai==1.99.3
openbci-stream==1.1.0
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.2
paramspider==0.1.0
parso==0.8.4
passlib==1.7.4
pdftext==0.6.3
pexpect==4.9.0
pick==2.2.0
pillow==10.4.0
pip_system_certs==5.2
pipx==1.7.1
platformdirs==4.3.8
pluggy==0.13.1
pluginbase==1.0.1
plumbum==1.9.0
pooch==1.8.2
portalocker==2.10.1
pre_commit==4.2.0
prompt_toolkit==3.0.51
propcache==0.3.2
proto-plus==1.26.1
protobuf==4.25.8
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure_eval==0.2.3
py==1.9.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyaxmlparser==0.3.28
pycares==4.9.0
pycparser==2.22
pycryptodome==3.20.0
pycurl==7.43.0.6
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
pydot==4.0.1
Pygments==2.19.2
PyJWT==2.9.0
pylsqpack==0.3.22
pyOpenSSL==24.3.0
pyparsing==3.2.0
pypdfium2==4.30.0
pyperclip==1.9.0
pyserial==3.5
PySocks==1.7.1
pyspnego==0.11.1
pytesseract==0.3.13
pytest==6.0.1
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-Levenshtein==0.27.1
python-terraform==0.10.1
python-vagrant==1.0.0
python3-nmap==1.9.1
pytz==2025.2
PyVirtualDisplay==3.0
pywinrm==0.5.0
PyYAML==6.0.1
questionary==2.0.1
RapidFuzz==3.13.0
reflutter==0.8.5
regex==2024.11.6
requests==2.32.4
requests-file==2.1.0
requests-pkcs12==1.25
requests_ntlm==1.3.0
resolvelib==1.0.1
rich==13.9.4
rich-argparse==1.7.1
rpyc==6.0.2
rsa==4.9.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
s3transfer==0.10.2
safetensors==0.6.1
scikit-learn==1.7.1
scipy==1.15.3
selenium==4.9.1
sepaxml==2.7.0
service-identity==24.2.0
simplejson==3.20.1
six==1.15.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
splunk-sdk==2.0.2
SQLAlchemy==1.4.54
stack-data==0.6.3
surya-ocr==0.15.2
sympy==1.14.0
systemd-service==1.8
tables==3.10.1
tabulate==0.9.0
tenacity==9.1.2
text-unidecode==1.3
threadpoolctl==3.6.0
tld==0.13.1
tokenizers==0.21.4
toml==0.10.1
tomli==2.2.1
torch==2.8.0
torchvision==0.23.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.53.3
trio==0.30.0
trio-websocket==0.12.2
Twisted==25.5.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
urwid==2.6.16
userpath==1.9.2
virtualenv==20.33.1
wafw00f==2.3.1
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
Werkzeug==3.1.3
wsproto==1.2.0
xmlschema==4.1.0
xmltodict==0.13.0
yarl==1.8.1
zope.interface==7.2
zstandard==0.23.0
